/*Responsive typography*/
/*font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) ));*/

#content, body, html {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    width: 100%;
}

/*
@media (max-width: 768px) {
    #sidebar {
        background-color: rgb(131, 66, 244);
        min-width: 400px;
        max-width: 400px;
        min-height: 100vh;
    }
    #sidebar.active {
        margin-left: -400px;
    }
}
*/

.bg {
    background-image: url("../tondro1.github.io/world-sonic-sth1-light.png");
    height: 100vh; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*SIDEBAR*/

h3 {
    position: relative;
    text-align: center;
    padding-top: 30px;
    font-family: "Rubik", sans-serif;
    font-size: calc( 11px + (25 - 11) * ( (100vw - 320px) / ( 1000 - 320) ));
}

#dismiss {
    position: absolute;
    /* top right corner of the sidebar */
    top: 27px;
    right: 20px;
}

#about-link {
    padding-top: 30px;
    padding-bottom: 30px;
}

#sidebarCollapse {
    position: fixed;
    left: 50px;
    top: 40px;
    z-index: 2;
    transition: all 0.3s;
}

#sidebarCollapse.active {
    position: fixed;
    left: 50px;
    top: 40px;
    z-index: 2;
    transition: all 0.3s;
}

#sidebar {
    position: fixed;
    background-color: rgb(131, 66, 244);
    width: 400px;
    height: 100vh;
    margin-left: -400px;
    transition: all 0.3s;
    z-index: 999;
}

#sidebar.active {
    background-color: rgb(131, 66, 244);
    height: 100vh;
    position: fixed;
    width: 400px;
    height: 100vh;
    margin: 0;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.logo {
    height: 120px;
}

#sidebar ul li a:hover {
    color: rgb(131, 66, 244);
    background: #fff;
    text-decoration: none;
}

#sidebar ul li a {
    font-family: "Rubik", sans-serif;
    font-size: calc( 20px + (25 - 20) * ( (100vw - 320px) / ( 1000 - 320) ));
    color: white;
    display: block;
    text-align: center;
    margin-top: 50px;
}

/*CONTENT*/

.overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 1;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay {
    display: none;
    opacity: 0;
}

.header {
    font-family: "Rubik", sans-serif;
    margin: 0;
    color: black;
    padding-top: 7em;
    padding-bottom: 7em;
    background-image: url(../tondro1.github.io/abstract-graphic-design.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: calc( 25px + (40 - 25) * ( (100vw - 320px) / ( 1000 - 320) ));
}
  
p {
    text-align: center;
    font-family: "Karla", sans-serif;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 15%;
    padding-right: 15%;
    font-size: calc( 14px + (20 - 14) * ( (100vw - 320px) / ( 1000 - 320) ));
}

.icon {
    position: relative;
    text-align: center;
    color: black;
}

#sonic-text {
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-30%, -50%);
    font-family: "Karla", sans-serif;
    font-size: calc( 8px + (15 - 8) * ( (100vw - 320px) / ( 1000 - 320) ));
}

#eggman-text {
    position: absolute;
    top: 50%;
    right: 65%;
    transform: translate(40%, -50%);
    font-family: "Karla", sans-serif;
    font-size: calc( 8px + (15 - 8) * ( (100vw - 320px) / ( 1000 - 320) ));
}