body {
    margin: 0;
    font-family: monospace;
    /*font-family: 'Karla', sans-serif;*/
}

h1, h2, h3, p, td, tr, th{
    text-align: center;
}

.table-par {
    text-align: center;
    padding: 5em;
}

.header {
    padding: 6em;
}