#bg {
    margin: 0;
}

.header {
    font-family: "Rubik", sans-serif;
    padding-top: 20rem;
    padding-bottom: 20rem;
    background-color: rgb(136, 127, 255);
    text-align: center;
    font-size: 3rem;
}

.table-header {
    font-family: "Rubik", sans-serif;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.6rem;
}

.table-img {
    text-align: center;
}

p {
    text-align: center;
    font-family: "Karla", sans-serif;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1rem;
}

.table-par {
    font-family: "Karla", sans-serif;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 5em;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1rem;
}